:root {
  --background: rgb(21, 22, 24);
  --header-background: white;
  --footer-background: rgb(243, 242, 242);
}

img {
  width: 25em;
}

body {
  height: 100%;
  padding-bottom: 30px;
  font-family: 'Rubik', san-serif;
  background: var(--background);
}

#user {
  flex-grow: 2;
  margin-right: 20px;
  text-align: right;
  display: grid;
}

#user a {
  font-size: 0.8em;
  color: steelblue;
}

#post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-card {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

main {
  height: 100%;
}

.hidden {
  display: none;
}

.comment-icon {
  width: 2rem;
}

.comment img {
  width: 3vw;
  height: 4vh;
}

.comment-username {
  font-weight: bold;
}

.comment {
  display: flex;
  flex-direction: row;
}

.post-card .comment-icon {
  position: relative;
  left: 20vw;
  bottom: 6vh;
  background: transparent;
  border: none;
}

.leave-comment {
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 8px;
  padding: 8px;
  margin-left: 15vw;
}
