:root {
  --background: rgb(224, 234, 247);
  --header-background: white;
  --footer-background: rgb(243, 242, 242);
}

img {
  width: 25em;
}

body {
  height: 100%;
  padding-bottom: 30px;
  font-family: 'Rubik', san-serif;
  background: var(--background);
}

#user {
  flex-grow: 2;
  margin-right: 20px;
  text-align: right;
  display: grid;
}

#user a {
  font-size: 0.8em;
  color: steelblue;
}

.hidden {
  display: none;
}

main {
  height: 100%;
}

.hidden {
  display: none;
}

.comment-icon {
  width: 2rem;
}

.comment img {
  width: 3vw;
  height: 4vh;
}

.comment-username {
  font-weight: bold;
}

.comment {
  display: flex;
  flex-direction: row;
}
